 .u-section-1 {
  background-image: linear-gradient(white, #4c7397);
}

.u-section-1 .u-sheet-1 {
  min-height: 380px;
}

.u-section-1 .u-image-1 {
  width: 620px;
  height: 102px;
  margin: 103px auto 0;
}

.u-section-1 .u-line-1 {
  width: 596px;
  transform-origin: left center 0px;
  margin: 7px auto 0;
}

.u-section-1 .u-text-1 {
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  width: 720px;
  margin: 7px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 103px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 315px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -450px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 528px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 90px;
    margin-top: 297px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
    margin-top: -410px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 488px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 57px;
    margin-top: 296px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-top: -361px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: 425px;
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 587px;
}

.u-section-2 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 211px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -259px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 258px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 5px;
}

.u-section-2 .u-group-1 {
  min-height: 237px;
  width: 376px;
  margin: -39px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-image-1 {
  width: 232px;
  height: 232px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 25px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  width: 762px;
  font-weight: 700;
  margin: 13px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 213px;
  }

  .u-section-2 .u-group-1 {
    width: 225px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 326px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 489px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 308px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  min-height: 782px;
}

.u-section-3 .u-shape-1 {
  height: 204px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  margin: -77px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 476px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-1 {
  padding: 12px 15px;
}

.u-section-3 .u-image-1 {
  width: 240px;
  height: 240px;
  background-image: url("/images/leyes.jpg");
  background-position: 50% 50%;
  margin: 18px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 20px 15px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin: 34px auto 0;
  padding: 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-2 {
  padding: 12px 15px;
}

.u-section-3 .u-image-2 {
  width: 240px;
  height: 240px;
  background-image: url("/images/Captura-1-600x310.jpg");
  background-position: 50% 50%;
  margin: 18px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 20px 15px 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  margin: 34px auto 0;
  padding: 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-3 {
  padding: 12px 15px;
}

.u-section-3 .u-image-3 {
  width: 240px;
  height: 240px;
  object-position: 50% 20.84%;
  background-image: url("/images/2581blicas.jpg");
  background-position: 50% 50%;
  margin: 18px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 20px 15px 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  margin: 34px auto 0;
  padding: 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-4 {
  padding: 12px 15px;
}

.u-section-3 .u-image-4 {
  width: 240px;
  height: 240px;
  object-position: 50% 20.84%;
  background-image: url("/images/47446_imagen_0.jpg");
  background-position: 50% 50%;
  margin: 18px auto 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 20px 15px 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  margin: 34px auto 0;
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 47px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 392px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1272px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 1201px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 211px;
}

.u-section-4 .u-list-1 {
  width: 940px;
  margin: -33px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-gap: 30px 30px;
  min-height: 155px;
}

.u-section-4 .u-list-item-1 {
  background-size: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-text-1 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 33px 2px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-size: 0.875rem;
  font-style: italic;
  margin: 14px auto 0;
  padding: 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 33px 2px 0 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  font-size: 0.875rem;
  font-style: italic;
  margin: 14px auto 0;
  padding: 0;
}

.u-section-4 .u-list-item-3 {
  background-size: auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 33px 2px 0 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  font-size: 0.875rem;
  font-style: italic;
  margin: 14px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 256px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 336px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    width: 340px;
  }
}